* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}

.card {
    height:60vh ;
    width: 25vw;
    background-color: hsl(216, 50%, 16%);
}

